.shoppingCartWrapper {
  width: 8%;
  background-color: #fdfdfd;
}

.cartBtn {
  height: 110%;
  width: 160px;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  background-image: url("../../../assets/iconeshome/icones-header/carrinho.svg");
  background-repeat: no-repeat;
  margin-left: -80px;
  color: #fdfdfd;
  font-weight: bold;

  @media (max-width: 1023px) {
    height: 48px;
    width: 96px;
    font-size: 12px;
    margin-left: 0.5rem;
  }

  span {
    position: relative;
    left: 24px;
    bottom: 10px;

    @media (max-width: 1023px) {
      left: 15px;
    }
  }
}
