@import url("https://fonts.googleapis.com/css2?family=Ubuntu");

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  line-height: 150%;
}

body {
  font-family: Ubuntu, sans-serif;
  background-color: #fdfdfd;
  color: #212121;

  @media (max-width: 1023px) {
    background-color: #f1f1f1;
  }
}
