.bannerWrapper {
  margin-top: 168px;
  background-color: #fdfdfd;

  @media (max-width: 1023px) {
    margin-top: 108px;
  }
}

// Começo Banner sem carrossel

.bannerWrpDesktop {
  width: 100%;
  height: auto;
  clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);
  overflow: hidden;

  img {
    width: inherit;
    height: inherit;
  }

  @media (max-width: 1024px) {
    display: none;
  }
}

.bannerWrpMobile {
  width: 100%;
  height: auto;

  img {
    width: inherit;
    height: inherit;
  }

  @media (min-width: 1023px) {
    display: none;
  }
}

// Fim Banner

.bannerBody {
  width: 80%;
  margin: 0 auto;

  @media (max-width: 1023px) {
    width: 95%;
  }
}
